

### 基础大模型
[[models]]
id = "flux-dev-fp8"
url = "https://huggingface.co/Kijai/flux-fp8/resolve/main/flux1-dev-fp8-e4m3fn.safetensors?download=true"
dir = "/models/unet"
description = "Flux-dev-fp8 Flux fp8"
### 宫崎骏风格flux模型，下载地址失效可以在Liblib复制链接下载
[[models]]
id = "flux-dev"
url = "https://liblibai-online.liblib.cloud/web/model/f9d0887aec8edee706adb5372faf3636/12baf979b74ae9ed6292ddb350dbc949ed6811f5c7eb9aae871e81452ae31ce4.safetensors?auth_key=1744546334-110f9611581a4250a60ed1b7b96497f6-0-db33d12d696e178707dcbfedd6cee19f&attname=%E3%80%90%E5%8A%A8%E6%BC%AB%E9%A3%8E%E6%A0%BC%E3%80%91_juaner-%E5%AE%AB%E5%B4%8E%E9%AA%8F%E5%90%89%E5%8D%9C%E5%8A%9B%E5%B7%A5%E4%BD%9C%E5%AE%A4%E9%A3%8E%E6%A0%BC%20flux_v2.0.safetensors"
dir = "/models/unet"
fileName = "juaner-flux_v2.0.safetensors"
description = "Flux-dev Flux"

### 混元3D模型
[[models]]
id = "huanyuan-3d-v2.0"
url = "https://huggingface.co/Kijai/Hunyuan3D-2_safetensors/resolve/main/hunyuan3d-dit-v2-0-fp16.safetensors?download=true"
dir = "/models/diffusion_models"
description = "huanyuan-3D-V2.0"

[[models]]
id = "flux-redux"
url = "https://huggingface.co/black-forest-labs/FLUX.1-Redux-dev/resolve/main/flux1-redux-dev.safetensors?download=true"
dir = "/models/style_models"
description = "flux-redux"

[[models]]
id = "flux-vae"
url = "https://huggingface.co/black-forest-labs/FLUX.1-dev/resolve/main/ae.safetensors?download=true"
dir = "/models/vae"
description = "flux-vae"

[[models]]
id = "flux-fill"
url = "https://huggingface.co/black-forest-labs/FLUX.1-Fill-dev/resolve/main/flux1-fill-dev.safetensors?download=true"
dir = "/models/unet"
description = "flux-fill重绘模型"

[[models]]
id = "text-encoder-t5xxl-fp8"
url = "https://huggingface.co/stabilityai/stable-diffusion-3-medium/resolve/main/text_encoders/t5xxl_fp8_e4m3fn.safetensors?download=true"
dir = "/models/text_encoders"
description = "text-encoder-t5xxl-fp8"

[[models]]
id = "text-encoder-clip_l"
url = "https://huggingface.co/stabilityai/stable-diffusion-3-medium/resolve/main/text_encoders/clip_l.safetensors?download=true"
dir = "/models/text_encoders"
description = "text-encoder-clip_l"

[[models]]
id = "text-encoder-clip_g"
url = "https://huggingface.co/stabilityai/stable-diffusion-3-medium/resolve/main/text_encoders/clip_g.safetensors?download=true"
dir = "/models/text_encoders"
description = "text-encoder-clip_g"

[[models]]
id = "wan2.1-encode-umt5-xxl-enc-fp8"
url = "https://huggingface.co/Comfy-Org/Wan_2.1_ComfyUI_repackaged/resolve/main/split_files/text_encoders/umt5_xxl_fp8_e4m3fn_scaled.safetensors?download=true"
dir = "/models/text_encoders"
description = "Wan2.1视频模型文本编码器"

[[models]]
id = "wan2.1-text2video-fp8-14B"
url = "https://huggingface.co/Comfy-Org/Wan_2.1_ComfyUI_repackaged/resolve/main/split_files/diffusion_models/wan2.1_t2v_14B_fp8_e4m3fn.safetensors?download=true"
dir = "/models/unet"
description = "Wan2.1文生视频模型"

[[models]]
id = "wan2.1-image2video-480p-fp16-14B"
url = "https://huggingface.co/Comfy-Org/Wan_2.1_ComfyUI_repackaged/resolve/main/split_files/diffusion_models/wan2.1_i2v_480p_14B_fp16.safetensors?download=true"
dir = "/models/unet"
description = "Wan2.1图生视频模型FP16"

[[models]]
id = "wan2.1-vae"
url = "https://huggingface.co/Comfy-Org/Wan_2.1_ComfyUI_repackaged/resolve/main/split_files/vae/wan_2.1_vae.safetensors?download=true"
dir = "/models/vae"
description = "Wan2.1视频模型VAE"

[[models]]
id = "wan2.1-clip-vision-h"
url = "https://huggingface.co/Comfy-Org/Wan_2.1_ComfyUI_repackaged/resolve/main/split_files/clip_vision/clip_vision_h.safetensors?download=true"
dir = "/models/clip_vision"
description = "Wan2.1 Clip model"

[[models]]
id = "text-encoder-sigclip-patch14-384"
url = "https://huggingface.co/Comfy-Org/sigclip_vision_384/resolve/main/sigclip_vision_patch14_384.safetensors?download=true"
dir = "/models/clip_vision"
description = "sigclip视觉模型"

### 放大模型
[[models]]
id = "upscale-Real-ESRGAN-x4plus"
url = "https://huggingface.co/schwgHao/RealESRGAN_x4plus/resolve/main/RealESRGAN_x4plus.pth?download=true"
dir = "/models/upscale_models"
description = "高清放大4倍Plus"

[[models]]
id = "upscale-Real-ESRGAN-x2"
url = "https://huggingface.co/ai-forever/Real-ESRGAN/resolve/main/RealESRGAN_x2.pth?download=true"
dir = "/models/upscale_models"
description = "高清放大2倍"

[[models]]
id = "upscale-Real-ESRGAN-x4"
url = "https://huggingface.co/ai-forever/Real-ESRGAN/resolve/main/RealESRGAN_x4.pth?download=true"
dir = "/models/upscale_models"
description = "高清放大4倍-normal"

[[models]]
id = "upscale-Real-ESRGAN-x8"
url = "https://huggingface.co/ai-forever/Real-ESRGAN/resolve/main/RealESRGAN_x8.pth?download=true"
dir = "/models/upscale_models"
description = "高清放大8倍"

#分割模型SAM
[[models]]
id = "sam-vit-huge"
url = "https://dl.fbaipublicfiles.com/segment_anything/sam_vit_h_4b8939.pth"
dir = "/models/sams"
description = "SAM-vit-huge-4b8939"

[[models]]
id = "sam-vit-large"
url = "https://huggingface.co/ShilongLiu/GroundingDINO/resolve/main/groundingdino_swint_ogc.pth"
dir = "/models/grounding-dino"
description = "GroundingDINO-swint-ogc"
